body {
    /*background-color: #ddd; */ /* Background color */
    color: #222;            /* Foreground color used for text */
    font-family: Helvetica;
    font-size: 14px;
    margin: 0;              /* Amount of negative space around the
                               outside of the body */
    padding: 0;             /* Amount of negative space around the
                               inside of the body */
}


header h3 {
    margin: 0;
    padding: 0;

    background-color: #ccc;
    border-bottom: 1px solid #666;
    color: #222;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;

    padding-left: 3%;
    padding-right: 3%;

}
header ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    list-style:none;
}

header ul li {
    list-style:none;
}

header ul li a {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}

/* quitar hacia arriba */

body {
  min-width: 320px;
}

.jumbotron {
  background-color: white;
}

#content, #sidebar {
    padding: 10px;
}
#footer {
    display: none;
}
#header h1 a {
    text-shadow: 0px 1px 1px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom,
                                       from(#ccc), to(#999));
}
#header ul li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
#header ul li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
#header ul.hide {
    display: none;
}

/* Estilos mios*/

/* Estilos para input de nº parada y botones */
.ancho {
    display: block;
    width: 95%;
    overflow: hidden;
}

.input {
    width: 20%;
}

.input input {
    width: 130px;
    height: 30px;
}

.botones {
    width: 80%;
}

.botones .boton1consulta,
.botones .boton2consulta {
    margin-top: 10px;
    width: 128px
}

/* separacion botones menu */
#eldivmenu a {
    margin-right: 15px;
}

/* lista de favoritos */
#listaFavoritos li {
    list-style-type: none;
    margin-bottom: 10px;
}

#listaFavoritos li input{
    height: 35px;
    line-height: 20px;
}

#parada {
  width: 115px;
}

#botonConsulta,
#botonAdd {
  margin-top: -4px;
  margin-left: 10px;
}

#descripcion-parada {
  margin-top: 10px;
}

@media screen and (max-width: 234px) {
  #botonConsulta {
    margin-top: 4px;
  }
}

div.clear {
  height: 10px;
}


#descripcion, #parada {
  height: 40px;
}

#limpiar {
  float: right;
  margin-bottom: 10px;
}

/******************* FAVORITOS *********************/

#lista-favoritos {
  padding-left: 15px;
  padding-right: 2px;
}

#conter-descripcion {
  margin-top: 10px;
}

#conter-descripcion i {
  margin-top: -4px;
  margin-left: 10px;
}

body span.parada,
#borrar-todo 
{  
  display: block;
  float: left;
  clear: both;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: -15px;
}


body span.parada
{  
  padding-left: 3px;
  padding-right: 3px;
}

.borrar, .editar{
  margin-left: 8px;
  margin-bottom: 20px;
}

.borrar {
  margin-bottom: 20px;
}

/******************* BUSQUEDA *********************/

#cargando {
  margin: 0 auto;
  text-align: center;
}

/* quitar hacia abajo */

/* Clear Loading */
.clear-loading {
  text-align: center;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* Loading Effect Three */
.loading-effect-3 {
  width: 50px;
  height: 50px;
}
.loading-effect-3 div {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #777;
  border-radius: 50%;
}
.loading-effect-3 div > span {
  background: #777;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  top: -5px;
  left: 50%;
  -webikt-transform-origin: 0 30px;
  -moz-transform-origin: 0 30px;
  -o-transform-origin: 0 30px;
  transform-origin: 0 30px;
  -webkit-animation: effect-3 2s infinite linear;
  -moz-animation: effect-3 2s infinite linear;
  -ms-animation: effect-3 2s infinite linear;
  -o-animation: effect-3 2s infinite linear;
  animation: effect-3 2s infinite linear;
}
@-webkit-keyframes effect-3 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes effect-3 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
