body {
    font-family: Helvetica;
    font-size: 14px;
    min-width: 320px;
}

header {
    position: fixed;
    z-index: 1;
}

header h3 {
    position: fixed;
    width: 100%;
    margin: 0;
    background-color: #ccc;
    border-bottom: 1px solid #666;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    padding-left: 3%;
    padding-right: 3%;
}

.jumbotron {
    background-color: white;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 30px;
}

.jumbotron #consulta {
    margin-top: 40px;
}

#parada {
  width: 115px;
  height: 40px;
}

#botonConsulta, #botonAdd {
  margin-top: -4px;
  margin-left: 10px;
}

div.clear {
  height: 10px;
}

#limpiar, #mostrar-tabla {
  float: right;
  margin-bottom: 10px;
}

/******************* FAVORITOS *********************/

#lista-favoritos {
  clear: both;
  padding-left: 10px;
  padding-right: 2px;
}

body span.parada, #borrar-todo {  
  display: block;
  float: left;
  clear: both;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: -15px;
}

#borrar-todo span {
  font-size: 0.75em;
  padding: 10px;
}

body span.parada {  
  padding-left: 15px;
  padding-right: 15px;
}

.borrar, .editar, .subir, .bajar {
  margin-left: 5px;
  margin-bottom: 28px;
  font-size: 1.5em;
}

/******************* BUSQUEDA *********************/

#cargando {
  margin: 0 auto;
  text-align: center;
}


/******************* CONFIGURACIÓN *********************/
body {
    overflow-x: hidden;
}

#configradorDiv {
    position: absolute;
    top: 46px;
    min-width: 100%;
    margin-left: 100%;
    padding: 10%;
    padding-top: 20px;    
    background: #ebebeb;
}

#configradorDiv span.parada {
    padding-left: 10px;
    padding-right: 10px;
}

#configradorDiv.swipe-izquierda{
    -webkit-animation: swipe-izquierda 0.75s 1;          
    margin-left: 0%;
}


#configradorDiv.swipe-derecha{
    -webkit-animation: swipe-derecha 0.75s 1;          
    margin-left: 100%;
}

@-webkit-keyframes swipe-izquierda {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

@-webkit-keyframes swipe-derecha {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}

/******************* CONFIGURACIÓN Notificaciones *********************/

.notification-enable {
  display: flex;
  align-items: center;
    
  width: 295px;
  margin-left: -15px;
  margin-bottom: 10px;

  padding-left: 10px;
  padding-bottom: 10px;
  
  font-size: 18px;
  text-transform: uppercase;
}
  
.checkbox-android {
  top: -0.125rem;
  position: relative;
  margin: 0 1.5rem 0 0;
  cursor: pointer;
}

.checkbox-android + label {
  display: block;
  margin-top: 5px; 
  cursor: pointer;
}

.checkbox-android:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0.075rem;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  border: 2px solid #f2f2f2;
}

.checkbox-android:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}

.checkbox-android:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 2.2rem;
  height: 2.2rem;
  background: #fff;
  cursor: pointer;
}